*{
    box-sizing: border-box;
}

/*ridimensionamento del logo*/
 #logo-size {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

/*ridimensionamento titolo toboolist*/
#toboolist-size{
    font-size: 50px;
    vertical-align: middle;
}

/*altezza header per accentramento verticale*/
header{
    height: 100px; 
}



