*{
    box-sizing: border-box;
}

/*ridimensionamento del logo*/
 #logo-size {
    vertical-align: middle;
}

/*ridimensionamento titolo toboolist*/
#toboolist-size{
    font-size: 50px;
    vertical-align: middle;
}

/*altezza header per accentramento verticale*/
header{
    height: 60px; 
}

/* TODO:tentativo di centrare tutto il testo*/
.centratura {
    margin-left: 100px;
    margin-right: 100px;
}

#sfondo {
    background-color: lightgray;
}

/*riquadro per il tasto task*/
#task{
    color: white;
    background-color: rgb(4, 184, 255);
    border-style: none;
    border-width: 1px 1px;
    border-radius: 8%;
    padding: 10px 10px 10px 10px;
    margin: 1px;
}

/*riquadro per il tasto section*/
#section{
    color: gray;
    background-color: white;
    border-style: solid;
    border-width: 1px 1px;
    border-color: gray;
    border-radius: 8%;
    padding: 10px 10px 10px 10px;
    margin: 1px;
}

/*riquadro bianco di contorno alle varie voci*/
.riquadro{
    border-style: none;
    border-width: 1px 1px;
    background-color: white;
    border-radius: 1%;
    padding: 20px 20px 20px 20px;
}

/*cerchio di spunta*/
.cerchio-verde{
    font-size: 10px;
    color: rgb(7, 207, 7);
    border-width: 1px 1px;
    border-radius: 50%;
    border-color: rgb(7, 207, 7);
    border-style: solid;
    padding: 3px 3px 3px 3px;
}

/*cerchio con x*/
.cerchio-rosso{
    font-size: 10px;
    color:red;
    border-width: 1px 1px;
    border-radius: 50%;
    border-color: red;
    border-style: solid;
    padding: 3px 3px 3px 3px;
}

/*triangolo verso il basso*/
.triangle-down{
    display: inline-block;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
}

/*ridimensionamento dei titoli delle varie sezioni*/
.sezioni{
    font-size: 25px;
}

